/************************************************
*
*   Main Stylesheet
*   @version (1.0)
*   @date (2023)
*
*   1.) GENERAL ________________ @general
*   1.) NAVIGATION _____________ @navigation
*
************************************************/

/************************************************
   GENERAL                              @general

   The base styles for the page, text
   and links. Includes utility class styles
************************************************/
:root {
   --bg-color-one: #d4afb9;
   --bg-color-two: #d1cfe2;
   --bg-color-three: #9cadce;
   --bg-color-four: #fffcd7;
   --bg-color-five: #2D3142;
   --white: #FFF;
   --black: #000;
   --font-main-style: "Montserrat", sans-serif;
}
* {
   margin: 0;
   padding: 0;
}
html,
body {
   background-color: var(--bg-color-four);
   height: 100%;
   position: relative;
}
.main-wrapper {
   background: rgb(244,162,151);
   background: linear-gradient(184deg, rgba(244,162,151,1) 0%, rgba(233,231,219,1) 48%, rgba(183,209,204,1) 100%);
   display: flex;
   min-height: calc( 100vh - 30px)
}
.main-content {
   flex: 1;
   padding: 2em;
   position: relative;
}
.city-name {
   font-size: 2em;
   text-shadow: 2px 3px 5px rgb(0 0 0 / 30%), 0px -4px 10px rgb(255 255 255 / 30%);
}
.forecast-title {
   font-size: 1.25em;
   text-shadow: 2px 3px 5px rgb(0 0 0 / 30%), 0px -4px 10px rgb(255 255 255 / 30%);
}
.loading-wrapper {
   width: 100%;
   height: 100%;
   text-align: center;
   padding: 1em;
}
.loading-wrapper h2 {
   font-size: 2em;
   font-weight: bold;
}
.is-active {
   display: block;
}
.inactive {
   display: none;
}
.not-found {
   color: #f14668;
}

/************************************************
   NAVIGATION                         @navigation

   The base styles for the nav bar
************************************************/
.navbar-item.logo {
   font-size: 0.8em;
}
.navbar-item span.logo-txt {
   padding-left: 1.5em;
}
.navbar-item span.icon i {
   font-size: 1.5em;
}

/************************************************
   SIDEBAR                               @sidebar

   The base styles for the side bar
************************************************/
#side-bar {
   width: 16em;
   transition: all 1s ease-in-out;
}
#side-bar article.panel {
   height: 100%;
   width: 16em;
   background-color: var(--white);
   border-radius: 0;
   box-shadow: none;
   position: relative;
}
#side-bar .panel-heading {
   border-radius: 0px;
   position: relative;
}
/************************************************
   TILES                                   @tiles

   The base styles for the tiles
************************************************/
.tile-txt {
   font-size: 1.1em;
}
#forecast-wrapper {
   display: flex;
   flex-wrap: wrap;
}
.forecast-tile {
   flex-grow: 1;
   width: 100%;
   padding: 15px;
   color: var(--white);
}
.forecast-tile .danger {
   padding: 1em;
   background-color: #f14668;
}
@media screen and (min-width: 600px) {
   .forecast-tile {
      width: 50%;
   }
}
@media screen and (min-width: 1000px) {
   .forecast-tile {
      width: 33.33%;
   }
}
@media screen and (min-width: 1200px) {
   .forecast-tile {
      width: 20%;
   }
}