/************************************************
*
*   Main Stylesheet
*   @version (1.0)
*   @date (2023)
*
*   1.) GENERAL ________________ @general
*   2.) HEADER _________________ @header
*   3.) SCHEDULER ______________ @scheduler
*   4.) FOOTER _________________ @footer
*
************************************************/

/************************************************
   GENERAL                              @general

   The base styles for the page, text
   and links. Includes utility class styles
************************************************/
:root {
    --bg-color-one: #d4afb9;
    --bg-color-two: #d1cfe2;
    --bg-color-three: #9cadce;
    --bg-color-four: #fffcd7;
    --bg-color-five: #2D3142;
    --white: #FFF;
    --black: #000;
    --font-main-style: "Montserrat", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
html,
body {
    background-color: var(--bg-color-four);
    height: 100%;
    position: relative;
}
textarea {
    background-color: #9e9bb2;
}
main {
    position: relative;
}
.screen-reader {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.current-date {
    text-align: center;
    margin: 1em auto;
    font-family: var(--font-main-style);
}
.current-time {
    text-align: center;
    font-size: 1.5em;
    font-family: var(--font-main-style);
}
.past-entry {
    background-color: #9e9bb2;
}
.current-entry {
    background-color: #f44336;
}
.future-entry {
    background-color: #4caf50;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.square {
    height: 1em;
    width: 1em;
    display: inline-block;
}
.square.purple {
    background-color: #9e9bb2;
}
.square.red {
    background-color: #f44336;
}
.square.green {
    background-color: #4caf50;
}

/************************************************
   HEADER                                 @header

   The base styles for the header
************************************************/
header {
    text-align: center;
    background-color: var(--bg-color-five);
    padding: 2em;
}
header h1 {
    font-size: 2em;
    color: var(--white);
    font-family: var(--font-main-style);
}
header p {
    font-size: 1em;
    color: var(--white);
    font-family: var(--font-main-style);
}
@media screen and (min-width: 800px) {
    header h1 {
        font-size: 2.5em;
    }
    header p {
        font-size: 1.25em;
    }
}

/************************************************
   LEGEND                                 @legend

   The base styles for the legend
************************************************/
.legend {
    padding: 1em;
    background-color: var(--white);
    z-index: 2;
}
.legend ul {
    text-align: center;
}
.legend ul li {
    display: inline;
    font-family: var(--font-main-style);
}

/************************************************
   SCHEDULER                           @scheduler

   The base styles for the scheduler
************************************************/
.scheduler {
    display: flex;
    width: 90%;
    max-width: 1000px;
    margin: 1em auto;
    border-radius: 10px;
    align-items: stretch;
    justify-content: center;
    background-color: var(--bg-color-two);
    position: relative;
}
.scheduler .hour-wrapper,
.scheduler .min-wrapper {
    width: 3em;
    flex-grow: 0;
    text-align: center;
    position: relative;
}
.scheduler .entries-wrapper {
    flex-grow: 1;
}
.scheduler .hour-wrapper h2 {
    font-size: 3em;
    font-family: var(--font-main-style);
    position: absolute;
    top: -29px;
    left: 0;
    background-color: var(--white);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    line-height: 1.5;
    border: 1px dashed var(--bg-color-three);
}
.scheduler .min-wrapper ul {
    margin: 0;
}
.scheduler .min-wrapper ul li {
    list-style-type: none;
    line-height: 10;
    font-size: 1em;
    font-family: var(--font-main-style);
}
.scheduler .entries-wrapper ul {
    width: 100%;
    margin-top: 0.6em;
}
.scheduler .entries-wrapper ul li {
    list-style-type: none;
    position: relative;
}
.scheduler .entries-wrapper ul li textarea {
    border-left: 1px dashed var(--bg-color-two);
    border-right: 1px dashed var(--bg-color-two);
    border-top: 1px dashed var(--bg-color-two);
    border-bottom: 2px dashed var(--bg-color-three);
    font-family: var(--font-main-style);
    width: 100%;
    padding: 1em;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.scheduler .entries-wrapper ul li button {
    border: 3px solid var(--black);
    background-color: var(--bg-color-two);
    padding: 0.5em;
    display: block;
    width: 100%;
    border-radius: 20px;
    margin: 0.5em;
    text-transform: uppercase;
}
.scheduler .entries-wrapper ul li button:hover {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}
.scheduler .entries-wrapper ul li form {
    padding: 1em 1em 0 1em;
}
.scheduler .entries-wrapper ul li:nth-child(4) form {
    padding: 1em 1em 1em 1em;
}
.scheduler .btn-wrapper {
    display: flex;
    flex-direction: row;
}

/************************************************
   FOOTER                                 @footer

   The styles for the footer
************************************************/
.footer {
    width: 100%;
    height: 3em;
    text-align: center;
    background: var(--bg-color-one);
}
.footer h3,
.footer h3 > a {
    font-size: 1em;
    color: #000;
    margin-bottom: 0;
    padding-top: 1em;
    font-family: var(--font-main-style);
}